<div class='board-wrapper'>
	<div class='lightbox'>
		<div id='board'>
			<nywton-chessgame
			  data-game="game"
			  data-board="board"
			  data-position="'start'"
			  data-draggable='true'
			  on-drop='droppedBro'
			  on-move-end='moveEndedBro'
			></nywton-chessgame>
		</div>
		<div class='board-width'>
			<i ng-if='!hasConfirmed' ng-click='confirm()' class='confirm interactive fa-3x fa fa-play-circle'></i>
			<i ng-if='hasConfirmed' ng-click='stepBack()' class='interactive fa fa-3x fa-chevron-circle-left arrow-left'></i>
			<i ng-if='hasConfirmed' ui-sref='notation'class='confirm interactive fa-3x fa fa-refresh'></i>
			<i ng-if='hasConfirmed' ng-click='stepForward()' class='interactive fa fa-3x fa-chevron-circle-right arrow-right'></i>
			<div class='clearme'></div>
		</div>
	</div>
</div>