.notation-wrapper{
	text-align: center;

	#notation{
		display: inline-block;

		text-align: left;
		font-family: $font-body;

		#numOfMoves{
			padding: 20px 0px;

			color: $color-main-light;
			font-size: 16pt;
			text-align: center;

			@include transition(color, 0.2s);

			&:hover{
				color: $color-main;

				@include transition(color, 0.5s);
			}

			i{
				cursor: pointer;
			}
		}

		.game-notation{
			padding: 10px 0px;

			font-size: 28pt;
		
			.move-no{
				font-size: 22pt;
				color: $color-main-light;
			}

			.movement{
				display: inline-block;
				width: 140px;
			}
		}

	}
}